# For McJtyLib
public net.minecraft.client.gui.screens.inventory.AbstractContainerScreen isHovering(Lnet/minecraft/world/inventory/Slot;DD)Z # isHovering
public net.minecraft.world.inventory.AbstractContainerMenu containerListeners
public net.minecraft.data.recipes.RecipeProvider has(Lnet/minecraft/advancements/critereon/MinMaxBounds$Ints;Lnet/minecraft/world/level/ItemLike;)Lnet/minecraft/advancements/Criterion; # has
public net.minecraft.data.recipes.RecipeProvider has(Lnet/minecraft/world/level/ItemLike;)Lnet/minecraft/advancements/Criterion; # has
public net.minecraft.data.recipes.RecipeProvider has(Lnet/minecraft/tags/TagKey;)Lnet/minecraft/advancements/Criterion; # has

